.navbar{
  margin-bottom: 0px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.map-build, #map_in{
  height: 600vh;
}
span.select2{
  width: 100% !important;
}

label{
  color: #000011;
}

 .preregister .demo-list li{
   width: 50%;
 }
 
 select.form-control{
   padding: 0px;
 }